@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

/*__General Styling__*/

body{
    background-color: #f4f5f6;
    color: #380ADE;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

/*__flash messages__*/

.flashes h4{
    color: #380ADE;
    line-height: 2; 
}

/*__ footer__*/

footer{
    width: 100%;
    background-color: #8c7db1;
    text-align: center;
    position: static;
    padding-top: 1rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }



