{% extends "base.html" %}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
          <h3 class="strong">Add a new lot</h3>
        </div>
        <form method="POST" action="{{ url_for('add_lot') }}">
          <div class="card_lot">
            <!--category selection taken from mini project-->
            <div class="form-group">
                <label for="category_name"> Category</label>
                <select id="category_name" name="category_name" class="form-control" required>
                  <option value="" disabled selected>Choose Category</option>
                  {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endfor %}
                </select>
            </div>
            <!--Lot name-->
            <label for="name"> Name of your lot</label>
            <input type="text" name="name" id="name" placeholder="Name" class="form-control" required>
            <!--Lot description-->
            <label for="description"> Brief description</label>
            <input type="text" name="description" id="description" placeholder="Description" class="form-control"
              required>
            <!--Estimated price-->
            <label for="estimate_price"> Estimated price</label>
            <input type="text" name="estimate_price" id="estimate_price" placeholder="Estimated price" class="form-control" required>
            <!--Image upload-->
            <label for="image_url"> Upload your image</label>
            <input type="text" name="image_url" id="image_url" placeholder="Upload your image" class="form-control" required>
          </div>
          <div class="form-group">
            <button type="submit" class="col s4 btn btn-secondary">Submit  <i class="fas fa-sign-in-alt"></i></button>
          </div>
        </div>
    </form>
    <div class="row">
      <div class="col s12">
        <p class="center-align">
          <a href="{{ url_for('profile', username=session['user']) }}">Go back to your profile</a>
        </p>
      </div>
    </div>
    </div>
  </section>
{% endblock %}
