{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create Account</h3>

<form method="POST" action="{{ url_for('register') }}">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
    <i class="fas fa-lock"></i>
  </div>
  <button type="submit" class="btn btn-large text-shadow">Submit</button>
</form>
 
{% endblock %}